<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Bootstrap Configuration -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="../../../assets/node_modules/bootstrap/dist/css/bootstrap.min.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="../../../assets/custom/css/styles.css">
    </head>

    <body>

        <div class="navigation">
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top justify-content-center">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../../../applications/layouts/prototypes/admin/dashboard.html">Products</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="../../../applications/layouts/prototypes/admin/orders.html">Orders</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="../../../applications/layouts/prototypes/admin/to-dos.html">To-Dos</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="../../../applications/layouts/prototypes/admin/notifications.html">Notifications</a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="../../../applications/layouts/prototypes/admin/page-information.html">Page Information</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">My Account</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="container">
            <div class="manage-page-info">
                <h1>Page Information</h1>
                
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="../../../applications/layouts/prototypes/page-information.html">Website Content</a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="../../../applications/layouts/prototypes/contact-us-info.html">General Information</a>
                    </li>
                </ul>
                
                <form action="">
                    <fieldset>
                        <legend>General Information</legend>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input id="email" class="form-control" type="text" name="email">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="contact_no">Contact Number</label>
                                    <input id="contact_no" class="form-control" type="text" name="contact_no">
                                </div>
                            </div>
                        </div>

                        <legend>Physical Address</legend>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="street_address">Street</label>
                                    <input id="street_address" class="form-control" type="text" name="street_address">
                                </div>

                                <div class="form-group">
                                    <label for="city">City</label>
                                    <input id="city" class="form-control" type="text" name="city">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="suburb">Suburb</label>
                                    <input id="suburb" class="form-control" type="text" name="suburb">
                                </div>

                                <div class="form-group">
                                    <label for="zip_code">ZIP Code</label>
                                    <input id="zip_code" class="form-control" type="text" name="zip_code">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">

                            </div>

                            <div class="col-sm-6">
                                
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <button class="btn btn-success">Save</button>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>

        <!-- Bootstrap JS -->
        <script src="../../../assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="../../../assets/node_modules/jquery/dist/jquery.min.js"></script>
        <script src="../../../assets/node_modules/popper.js/dist/popper.min.js"></script>
    </body>
</html>