<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Bootstrap Configuration -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="../../../../assets/node_modules/bootstrap/dist/css/bootstrap.min.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="../../../../assets/custom/css/styles.css">
    </head>

    <body>

        <div class="container-fluid">
            <div class="login-screen">
                <div class="row">
                    <div class="col-sm-12">
                        <img id="login-screen-logo" src="../../../assets/images/many-cutes-park_1308-32599.jpg" alt="company_logo">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <h3>Welcome to Petshop Online</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <form action="../../../../applications/layouts/prototypes/admin/dashboard.html" method="POST">
                            <div class="form-group">
                                <input id="email" class="form-control" type="text" name="email" placeholder="Email here">
                            </div>

                            <div class="form-group">
                                <input id="password" class="form-control" type="text" name="password" placeholder="Password here">
                            </div>

                            <div class="form-group">
                                <button id="login-btn" class="btn btn-success" type="submit">Login</button>
                            </div>
                        </form>
                    </div>
                </div>

                Not a member yet? <a href="#">Sign up here</a>
            </div>
        </div>

        <!-- Bootstrap JS -->
        <script src="../../../assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="../../../assets/node_modules/jquery/dist/jquery.min.js"></script>
        <script src="../../../assets/node_modules/popper.js/dist/popper.min.js"></script>
    </body>
</html>