<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Bootstrap Configuration -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="../../../../assets/node_modules/bootstrap/dist/css/bootstrap.min.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="../../../../assets/custom/css/styles.css">
    </head>

    <body>

        <div class="navigation">
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top justify-content-center">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Products</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="../../../../applications/layouts/prototypes/admin/orders.html">Orders</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="../../../../applications/layouts/prototypes/admin/to-dos.html">To-Dos</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="../../../../applications/layouts/prototypes/admin/notifications.html">Notifications</a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="../../../../applications/layouts/prototypes/admin/page-information.html">Page Information</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">My Account</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="container">
            <div class="manage-page-info">
                <h1>Page Information</h1>
                
                <ul class="nav nav-tabs">
                    <li class="nav-item active">
                        <a class="nav-link" href="../../../applications/layouts/prototypes/page-information.html">Website Content</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="../../../applications/layouts/prototypes/contact-us-info.html">General Information</a>
                    </li>
                </ul>
                
                <form action="">
                    <fieldset>
                        <legend>About Us Content</legend>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="about_us">About Us</label>
                                    <textarea id="about_us" class="form-control" name="about_us" rows="3"></textarea>
                                </div>
        
                                <div class="form-group">
                                    <label for="our_products">Our Products</label>
                                    <textarea id="our_products" class="form-control" name="our_products" rows="3"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <button class="btn btn-success">Save</button>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>

        <!-- Bootstrap JS -->
        <script src="../../../assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="../../../assets/node_modules/jquery/dist/jquery.min.js"></script>
        <script src="../../../assets/node_modules/popper.js/dist/popper.min.js"></script>
    </body>
</html>