<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Bootstrap Configuration -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="../../../assets/node_modules/bootstrap/dist/css/bootstrap.min.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="../../../assets/custom/css/styles.css">
    </head>

    <body>

        <div class="navigation">
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top justify-content-center">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../../../applications/layouts/prototypes/dashboard.html">Products</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="../../../applications/layouts/prototypes/orders.html">Orders</a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="../../../applications/layouts/prototypes/to-dos.html">To-Dos</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="../../../applications/layouts/prototypes/notifications.html">Notifications</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Page Information</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">My Account</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="container">
            <div class="manage-products">
                <h1>Manage To-Dos</h1>
                
                
            </div>
        </div>

        <!-- Bootstrap JS -->
        <script src="../../../assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="../../../assets/node_modules/jquery/dist/jquery.min.js"></script>
        <script src="../../../assets/node_modules/popper.js/dist/popper.min.js"></script>
    </body>
</html>